.tile {
    width: 100px;
    height: 100px; 
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: rgb(81, 137, 99);
}

.white-tile {
    background-color: rgb(255, 255, 255);
}

.tile img {
    width: 80px;
    height: 80px;
}

.chess-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;    
}